.u-section-1 .u-sheet-1 {
  min-height: 542px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 541px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  height: 477px;
  transition-duration: 0.75s;
  width: 477px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: 28px auto 0;
}
h1{
  font-size: 3rem!important;
  font-weight: 700!important;
  text-align: center;
}
.u-section-1 .u-image-1 {
  background-image: url("images/316812321_532152695593126_8808557738981039004_n.jpg");
  background-position: 50% 50%;
  height: 403px;
  width: 403px;
  margin: -440px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 541px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 10px 30px 0;
}

.u-section-1 .u-text-2 {
  margin: 9px 36px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 8px auto 0 30px;
  padding: 16px 48px 16px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 2px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-1 .u-shape-1 {
    transition-duration: 1s;
    height: 423px;
    width: 407px;
    margin-top: 58px;
    margin-left: -20px;
  }

  .u-section-1 .u-image-1 {
    height: 366px;
    width: 366px;
    margin-top: -387px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    padding-top: 11px;
    padding-right: 47px;
    padding-bottom: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 682px;
  }

  .u-section-1 .u-shape-1 {
    height: 312px;
    width: 293px;
    margin-top: 151px;
    margin-left: -2px;
  }

  .u-section-1 .u-image-1 {
    height: 288px;
    width: 288px;
    margin-top: -266px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 682px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
  }

  .u-section-1 .u-btn-1 {
    padding-bottom: 11px;
    width: 197px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 12px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
    margin-left: 120px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -264px;
    margin-left: 133px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 12px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 52px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 638px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 8px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
  }
}

.u-section-1 .u-shape-1,
.u-section-1 .u-shape-1:before,
.u-section-1 .u-shape-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-shape-1 .u-svg-link {
  fill: #e83772 !important;
}

.u-section-1 .u-container-layout:hover .u-shape-1 {
  color: #e83772 !important;
  stroke-width: 0px !important;
  transform: translateX(0px) translateY(0px) scale(0.97) rotate(0deg) !important;
  opacity: 1 !important;
}

.u-section-1 .u-shape-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-1 .u-shape-1 .u-svg-link {
  fill: #e83772 !important;
}

.u-container-layout.hover .u-section-1 .u-shape-1 {
  color: #e83772 !important;
  stroke-width: 0px !important;
  transform: translateX(0px) translateY(0px) scale(0.97) rotate(0deg) !important;
  opacity: 1 !important;
}

.u-section-1 .u-shape-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-1618-20:not([data-block-selected]):not([data-cell-selected]),
.u-block-1618-20:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-1618-20:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 16px;
}

.u-block-5ddb-99:not([data-block-selected]):not([data-cell-selected]),
.u-block-5ddb-99:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5ddb-99:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}