body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7fafc;
  line-height: 16px;
}
.menu-link{
  font-weight: 600;
  color:#03aeb0;
  font-size: 18px;
}
::selection {
  background-color:#029396;
  color: #fff;
  font-weight: bold;
}
.ProfilePhoto{
  border: 10px solid;

}
hr {
  border: none;
  border-bottom: 2px solid #03aeb0; /* Cor e espessura da linha */
  margin: 10px 0; /* Ajuste a margem conforme necessário */

}
.hrStyle{
  background-color: transparent;
  border-bottom: 1px solid transparent; 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
#Sobre{
  color: #029396;
  border-color: #03aeb0;
  font-size: 18px;
}
.menu-link {
  position: relative;
}
.menu-link:hover{
  color: #029396;
}
.menu-link:hover::before,
.menu-link:hover::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #029396; /* Substitua pela cor desejada */
}

.menu-link:hover::before {
  left: 0;
  transform: translateX(-8px);
}

.menu-link:hover::after {
  right: 0;
  transform: translateX(8px);
}


/*font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e4e4e4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #03aeb0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #029396;
}